@{
    ViewData["Title"] = "Home Page";
}

<div class="text">
    <h1 class="display-4">Редактор нормативно-справочной информации АСТПП</h1>
    <p>Графический пользовательский интерфейс для ведения НСИ. </p>
</div>
